* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.header img {
  margin: auto;
  width: 250px;
}

#title {
  font-size: 100px;
}

.footer {
  text-align: center;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
}
